/* import font JOST */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* starting variables for the site */
:root {
  --white: #ffffff;
  --purple: #ad1fea;
  --blue: #4661E6;
  --navy: #3a4374;
  --soft-grey: #f2f4ff;
  --off-white: #f7f8fd;
  --dark-grey: #647196;
  --orange: #f49f85;
  --light-blue: #62bcfa;
}

h1 {
  font-weight: bold;
  font-size: 24px;
}